# Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/signin
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/signup
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/components
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/components

# Database
DATABASE_URL=file:./prisma/dev.db

# Paddle (Payments)......(I will add later)
NEXT_PUBLIC_PADDLE_ENVIRONMENT=sandbox
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=
PADDLE_API_KEY=
PADDLE_WEBHOOK_SECRET_KEY=

# Email
RESEND_API_KEY=
REQUEST_TEMPLATE_EMAIL_TO=manishpatel953249@gmail.com

# Umami Analytics
UMAMI_WEBSITE_ID=
